
*
  box-sizing: border-box

body
  background-color: lighten(black, 80%)

div.col
  border: 1px solid lighten(black, 90%)
  border-radius: 5px 5px 5px 5px
  padding: 10px
  column(1/2, gutter: 5)

p
  user-select: none
  text-align: center
